<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #one {
            background-color: cyan;width: 200px;height: 50px;}
        #two {
            position:absolute;/*부모를 기준으로*/
            left:100px;top:100px;
            background-color: yellow;width: 200px;height: 50px;
        }
        #three {background-color: lightgreen;width: 200px;height: 50px;}
        #wrapper{position:relative; background-color: grey;width: 500px; height: 500px;}
    </style>
</head>
 
<body>
    <p id="one">block #1</p>
    <div id="wrapper">
        <div id="two">
            block #2<br />
            position:absolute;<br />
        </div>
    </div>
    <p id="three">block #3</p>
</body>
 
</html>