<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <style>
        #wrapper{width: 800px; height: 800px; margin: 10px solid auto;}
        header{background-color:yellow; width: 100%; height: 50px;}
        nav{background-color:yellowgreen; width: 30%; height: 100px; float:left;}
        content{background-color:green; width: 70%; height: 100px; float:right;}
        footer{background-color:darkgreen; width: 100%; height: 50px; clear:both}
    </style>
</head>
<body>
    <div id="wrapper">
        <div id="header">header</div>
        <div id="nav">nav</div>
        <div id="content">content</div>
        <div id="footer">footer</div>
    </div>
</body>
</html>