<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <style>
        .img{opacity: 0.4;}
        .img:hover {opacity: 1.0;}
        .a{visibility: hidden; border: 1px solid salmon;}
        .b{visibility: visible; border: 1px solid salmon;}
       
    </style>
</head>
<body>
    <img class="img" src="../../html/images/skating.png">
    <img class="a" src="../../html/images/pome.png">
    <img class="b" src="../../html/images/pome.png">
 
</body>
</html>